@model Admin
@{
    ViewData["Title"] = "Create Admin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h2>Thêm tài khoản Admin</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label>Username</label>
        <input asp-for="Username" class="form-control" />
    </div>
    <div class="form-group">
        <label>Password</label>
        <input asp-for="PasswordHash" class="form-control" type="password" />
    </div>
    <div class="form-group">
        <label>Họ tên</label>
        <input asp-for="FullName" class="form-control" />
    </div>
    <div class="form-group">
        <label>Email</label>
        <input asp-for="Email" class="form-control" />
    </div>
    <button type="submit" class="btn btn-success mt-2">Lưu</button>
    <a asp-controller="Admin" asp-action="Index" class="btn btn-secondary mt-3">Quay trở lại </a>

</form>
