@{
    ViewData["Title"] = "Trang chính Admin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card shadow p-4 bg-white">
    <h2>Chào mừng đến Bảng điều khiển Admin</h2>
    <p>Chọn menu bên trái để quản lý hệ thống.</p>
</div>
